/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&family=Raleway:ital,wght@0,300;0,400;1,300;1,400&display=swap');
body{
    margin: 0;
    padding:0;
    font-family: "Raleway" , sans-serif;
}

/* navbar */
.logo{
    width: 5rem;
    height: 5rem;
}
.nav-menu{
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)); 
}
.nav-button:focus{
    border: transparent;
    outline: none;
}
.navbar-brand:hover{
    color: tomato;
}
.menu-item{
    color: antiquewhite;
    font-family: "Merriweather",sans-serif;
    font-size: .8rem;
    letter-spacing: .1rem;
    font-weight: 300;
    transition: color .5s;
}
.menu-item:hover{
    color: tomato;
}
.active{
    color:tomato;
}
.line-1, 
.line-2, 
.line-3{
    width: 1.5rem;
    height: .1rem;
    margin: .3rem;
}
.change .line-1{
    transform: rotate(-45deg) translate(-.3rem, .3rem);
}
.change .line-2{
    opacity: 0;
}
.change .line-3{
    transform: rotate(45deg) translate(-.3rem, -.3rem);
}
/* End of navbar */
/* carousel */
.my-carousel{
    height: 100vh;
    width: 100%;
}
/* carousel images layover color */
.carousel-item-1:after{
    content:"";
    position:absolute;       
     top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
 }
.carousel-item-2:after{
    content:"";
    position:absolute;       
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
 }
 .carousel-item-3:after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
 }
 /* end of carousel layover color */

.carousel-heading{
    font-family: "Merriweather", sans-serif;
    color: antiquewhite;
    font-weight: 700;
 }
 .carousel-indicators li {
        width: .5rem;
        height: .5rem;
        border-radius: 100%;
        margin-right: .5rem;
}
.carousel-btn{
    background: tomato;
    color: white;
    width: 8rem;
    border-radius: 1.5rem;
    box-shadow: 5px 8px 18px #000;
    transition: .3s;
}
.carousel-btn:hover{
    background-color: orangered;
    color:antiquewhite;
    transform: translateY(-2px);
}
.carousel-btn:focus{
    outline: none;
    box-shadow:none;
}
/* end of carousel */