/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&family=Raleway:ital,wght@0,300;0,400;1,300;1,400&display=swap');
body{
    margin: 0;
    padding:0;
    font-family: "Raleway" , sans-serif;
}

/* navbar */
.logo{
    width: 5rem;
    height: 5rem;
}
.nav-menu{
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)); 
}
.nav-button:focus{
    border: transparent;
    outline: none;
}
.navbar-brand:hover{
    color: tomato;
}
.menu-item{
    color: antiquewhite;
    font-family: "Merriweather",sans-serif;
    font-size: .8rem;
    letter-spacing: .1rem;
    font-weight: 300;
    text-shadow: 1px 1px #000;
    transition: color .5s;
}
.menu-item:hover{
    color: tomato;
}
.active{
    color:tomato;
}
.line-1, 
.line-2, 
.line-3{
    width: 1.5rem;
    height: .1rem;
    margin: .3rem;
}
.change .line-1{
    transform: rotate(-45deg) translate(-.3rem, .3rem);
}
.change .line-2{
    opacity: 0;
}
.change .line-3{
    transform: rotate(45deg) translate(-.3rem, -.3rem);
}
/* End of navbar */
/* carousel */
.my-carousel{
    height: 100vh;
    width: 100%;
}
/* carousel images layover color */
.carousel-item-1:after{
    content:"";
    position:absolute;       
     top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
 }
.carousel-item-2:after{
    content:"";
    position:absolute;       
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
 }
 .carousel-item-3:after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
 }
 /* end of carousel layover color */
.carousel-caption {
width:100%;
z-index:10;
text-align:center;
top:65%;
left: auto;
right: auto;
bottom:auto;
-webkit-transform:translate(0, -50%);
-ms-transform:translate(0, -50%);
transform:translate(0, -50%);
}
.carousel-heading{
    font-family: "Merriweather", sans-serif;
    color: antiquewhite;
    font-weight: 700;
    text-shadow: 2px 2px #000;
 }
 .carousel-indicators li {
        width: .5rem;
        height: .5rem;
        border-radius: 100%;
        margin-right: .5rem;
        background-color:antiquewhite;
        opacity: 1;
}
.carousel-indicators .active{
    background-color: tomato;
}
.carousel-btn{
    background: tomato;
    font-size: 1.1rem;
    color:#fff;
    width: 8rem;
    border-radius: 1.5rem;
    box-shadow: 5px 8px 18px #000;
    text-shadow: 1px 1px #000;
    letter-spacing: .1rem;
    transition: .3s;
}
.carousel-btn:hover{
    background-color: orangered;
    color:antiquewhite;
    transform: translateY(-2px);
}
.carousel-btn:focus{
    outline: none;
    box-shadow:none;
}
/* end of carousel */
/* team*/
.team{
    background-color:#1b1b1b; 
}
.team-title{
    font-family: "Merriweather" , sans-serif;
    color: tomato;
    font-size: 2.5rem;
    letter-spacing: .3rem;
    text-shadow: 2px 2px #000;
}
.team-underline{
    border-bottom: .1rem solid #fff;
    width: 50%;
    margin: auto;
}
.team-par{
    color:antiquewhite;
    text-shadow: 1px 1px #000;
}
.name-1,
.name-2,
.name-3,
.name-4{
    font-family: "Merriweather" , sans-serif;
    text-transform: uppercase;
    color:tomato;
    font-size:2rem;
    font-weight: 300;
    letter-spacing: .4rem;
    text-shadow: 1px 1px #000;
}
.underline-1,
.underline-2,
.underline-3,
.underline-4{
    border-bottom: .1rem solid #fff;
    width: 50%;
    margin:auto;
}
.team-image{
   width:100% ;
   height: 100vh;
   object-fit: cover;
   object-position: center center;
   border-radius: 20px;
   box-shadow: 5px 6px 19px #000;
}
.underline-section{
    border-bottom: .1rem solid #fff;
    width: 100%;
    margin: auto;
    box-shadow: 3px 3px 7px #000;
}
/* End of team*/
/* facilities */
.facilities{
    background: #1b1b1b;
}
.facilities-title{
    font-family: "Merriweather" , sans-serif;
    font-size: 2.5rem;
    color: tomato;
    letter-spacing: .3rem;
    text-shadow: 2px 2px #000;
}
.facilities-underline{
    border-bottom: .1rem solid #fff;
    width: 50%;
    margin: auto;
}
.facilities-par{
    color: antiquewhite
}
.card{
    border-radius: 20px;
}
.card-img{
    border-radius: 20px;
}
.card-shadow{
    box-shadow: 5px 8px 20px #000;
}
.heading{
    position: absolute;
    top: 85%;
    right: 0;
    font-size: .8rem;
    font-weight: 600;
    color:tomato;
    text-shadow: 1px 1px #000;
    background: #1b1b1b;
    width: 70%;
    box-shadow: 3px 3px 5px #000;
    cursor: pointer;
}
/* End of facilities */
/* Media Queries */

@media screen and (max-width:1024px){
    .name-1,
    .name-2,
    .name-3,
    .name-4{
        font-size:1.3rem;  
        letter-spacing: .2rem;
    }
}
 @media screen and (max-width:530px){
    .nav-menu{
        background: linear-gradient(rgba(0, 0, 0, 8), rgba(0, 0, 0, .7)); 
    }
    .name-1,
    .name-2,
    .name-3,
    .name-4{
         font-size:.8rem;  
         letter-spacing: .1rem;
     }
    .team-image{
          width:100% ;
          height: 400px;
          object-fit: cover;
          object-position: center center;
   
}
 }
 @media screen and (max-width:350px){
    .nav-menu{
         background: linear-gradient(rgba(0, 0, 0, 8), rgba(0, 0, 0, .7)); 
        }
    .name-1,
    .name-2,
    .name-3,
    .name-4{
         font-size:.6rem;  
         letter-spacing: .1rem;
         margin-bottom: 0;
     }
    .team-title{
         font-size: 1.5rem;
     }
    .team-par{
         font-size: .7rem;
     }
    .team-image{
          width:100% ;
          height: 400px;
          object-fit: cover;
          object-position: center center;
   
}
    .facilities-title{
         font-size: 1.5rem;
     }
    .facilities-par{
         font-size: .7rem;
     }
 }